flask
authlib
requests
gunicorn
fpdf
flask-sqlalchemy
flask-cors
python-dotenv
flask-login
pyjwt
cryptography
jose
python-jose
pymupdf
pdf2image
poppler-utils
sqlitecloud
google-generativeai
python-dotenv