{% extends 'base.html' %}
{% block content %}
<hr>

<h1>Lesson Check (Admin View)</h1>

{% if lessons %}
    <ul>
        {% for lesson in lessons %}
        <li>
            <h2>{{ lesson[1] }}</h2>  <!-- Lesson Title -->
            <div class="lesson-content">
                {{ lesson[2] | render_images | safe }}  <!-- Render images inside lesson content -->
            </div>
            <hr>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>You have not added any lessons yet.</p>
{% endif %}

<script>
// Insert image URL prompt for lesson content
function addImageURL() {
    var lessonContent = document.getElementById('lessonContent');
    var imgURL = prompt("Enter image link from CDN: ");
    if (imgURL) {
        lessonContent.value += `\n[img]${imgURL}\n`;
    }
}
</script>

{% endblock %}