<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy - Easy Math</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/terms-and-conditions">Terms and Conditions</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>

    <main>
        <h1>Privacy Policy</h1>
        
        <section>
            <h2>Introduction</h2>
            <p>By accessing this website, you agree to the collection, storage, and use of your personal information in accordance with this privacy policy.</p>
        </section>

        <section>
            <h2>Information We Collect</h2>
            <p>We collect personal information such as your name, email address, and other details necessary for registration and login. We also collect anonymous information about site usage to improve the user experience.</p>
        </section>

        <section>
            <h2>How We Use Your Information</h2>
            <p>The information we collect is used to provide our services, send updates and notifications, and improve site functionality. We will not sell or rent your personal information to third parties.</p>
        </section>

        <section>
            <h2>Data Security</h2>
            <p>We take security measures to protect your personal information against unauthorized access, loss, or accidental destruction.</p>
        </section>

        <section>
            <h2>Cookies</h2>
            <p>We use cookies to enhance the user experience on our website. These are small files stored on your device when you visit our site. You can control cookie usage through your browser settings.</p>
        </section>
        
        <section>
            <h2>Google Sign-In</h2>
            <p>We offer Google Sign-In to make logging in easier.</p>
        </section>

        <section>
            <h2>Accessing and Correcting Your Information</h2>
            <p>You can access, correct, or delete the personal information we have collected by contacting us through the contact page.</p>
        </section>

        <section>
            <h2>Changes to the Privacy Policy</h2>
            <p>We reserve the right to modify this privacy policy at any time. Any changes will be posted on this page, and the update date will be indicated at the end of the document.</p>
        </section>

        <section>
            <h2>Contact</h2>
            <p>For any questions regarding our privacy policy, please contact us at: <a href="mailto:david_constantinescu@outlook.com">david_constantinescu@outlook.com</a>.</p>
        </section>

    </main>
</body>
</html>
